@page
@model AddProductModel
<form method="post">
    <br />
    <h2>Add Product</h2>
    <br />
    <table>
        <tr>
            <td class="tdSpace"><label for="name">Name:</label></td>
            <td class="tdSpace"><input type="text" id="name" asp-for="Product.name" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="categoryId">Category ID:</label></td>
            <td class="tdSpace"><input type="text" id="categoryId" asp-for="Product.categoryId" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="description">Description:</label></td>
            <td class="tdSpace"><input type="text" id="description" asp-for="Product.description" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="sku">SKU:</label></td>
            <td class="tdSpace"><input type="text" id="sku" asp-for="Product.sku" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="categoryName">Category Name:</label></td>
            <td class="tdSpace"><input type="text" id="categoryName" asp-for="Product.categoryName" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="price">Price:</label></td>
            <td class="tdSpace"><input type="number" id="price" asp-for="Product.price" required /></td>
        </tr>
    </table>
    <br />
    <div>
        <button type="submit" class="add-button">Add Product</button>
    </div>
</form>
