@page
@model DeleteProductModel
<br />
<form method="post">
    <table>
        <tr>
            <td class="tdSpace"><label for="name">Product ID:</label></td>
            <td class="tdSpace"><input type="text" id="ProductID" asp-for="ProductID" /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="categoryId">Category ID:</label></td>
            <td class="tdSpace"><input type="text" id="CategoryID" asp-for="CategoryID" /></td>
        </tr>
    </table>
    <br />
    <div>
        <button type="submit" class="delete-button">Delete Product</button>
    </div>
</form>
