@page
@model DeleteProductModel
<br />
<form method="post">
    <table>
        <tr>
            <td class="tdSpace"><label for="name">Product ID:</label></td>
            <td class="tdSpace"><input type="text" id="ProductID" asp-for="ProductID" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="categoryId">Category ID:</label></td>
            <td class="tdSpace"><input type="text" id="CategoryID" asp-for="CategoryID" required /></td>
        </tr>
    </table>
    <br />
    @if (!Model.ProductExists)
    {
        <div class="alert alert-danger" role="alert">
            Product not found.
        </div>
    }
    <div>
        <button type="submit" class="delete-button">Delete Product</button>
    </div>
</form>
