@page
@model CosmicWorksTest2.Pages.LoginModel
@{
}
<form method="post">
    <input type="text" name="userName" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
</form>
