@page
@model CosmicWorksTest2.Pages.LoginModel
@{
}
<br />
<h2>Login</h2>
<br />
<form method="post">
    <table>
        <tr>
            <td class="tdSpace"><label for="username">Username:</label></td>
            <td class="tdSpace"><input type="text" id="username" asp-for="username" required /></td>
        </tr>
        <tr>
            <td class="tdSpace"><label for="password">Password:</label></td>
            <td class="tdSpace"><input type="password" id="password" asp-for="password" required /></td>
        </tr>
    </table>
    <br />
    <div>
        <button type="submit" class="add-button">Log In</button>
    </div>
</form>

<hr />
<div class="mt-3">
    <p>Don't have an account? <a href="/createaccount">Create Account</a></p>
</div>