@page
@model CosmicWorksTest2.Pages.LogoutModel
@{
}
<br />
<h2>Logout</h2>
<br />
<p>Are you sure you want to log out?</p>
<form method="post">
    <button type="submit" class="logout-button">Log Out</button>
</form>
